.intro-header {
	background: url(../../img/cleve_ns.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
 	background-position-y: 0;
  .site-heading {
    text-align: center;
    margin: $site-heading-margin 0;
    .subheading {
      color: $subheading-color;
    }
  }
}

#ns-cle-logo {
	margin-top: $logo-margin;
	width: $logo-width;
}